<h2>Eventos</h2>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input type="text" class="form-control mr-2" placeholder="buscar"
    [(ngModel)]="filtroLista"
    >
  </div>
</div>
<table class="table table-striped text-left">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
        (click)="alterarImg()">
        {{!mostrarimg ? "Mostrar" : "Ocultrar"}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!mostrarimg"
          src="/assets/{{evento.imagemURL}}" alt=""
          [style.width.px]="larguraimg"
          [style.margin.px]="margenimg">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
          <button type="button" class="btn-primary btn-sm mr-2">Editar</button>
          <button type="button" class="btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <td colspan="8">
      <h2>Nenhum evento encontrado</h2>
    </td>
  </tfoot>
</table>

{{eventos | json}}
